.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    gap: 1em;
    margin: 1em;
}
.blocks-text
{
    width: 45%;
    height: 150px;
    background-color: red;
}
.blocks-pic{
    width: 45%;
    height: 150px;
    background-color: royalblue;
    
}
